@use 'sass:math';

// Font face
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900; // Supports a range from Thin (100) to Black (900)
  font-display: swap; // Optional for better performance
  src: url('./fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
}

// Font size calculation wit clamp()
$default-min-bp: 320px;
$default-max-bp: 1900px;

@function round($number, $decimals: 0) {
  $n: 1;
  @if $decimals > 0 {
    @for $i from 1 through $decimals {
      $n: $n * 10;
    }
  }
  @return math.div(math.round($number * $n), $n);
}

@function px-to-rem($px) {
  $rems: math.div($px, 16px) * 1rem;
  @return $rems;
}

@function fluid(
  $min-size,
  $max-size,
  $min-breakpoint: $default-min-bp,
  $max-breakpoint: $default-max-bp,
  $unit: vw
) {
  $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
  $slope-to-unit: round($slope * 100, 2);
  $intercept-rem: round(px-to-rem($min-size - $slope * $min-breakpoint), 2);
  $min-size-rem: round(px-to-rem($min-size), 2);
  $max-size-rem: round(px-to-rem($max-size), 2);
  @return clamp(#{$min-size-rem}, #{$slope-to-unit}#{$unit} + #{$intercept-rem}, #{$max-size-rem});
}

// Custom properties
:root {
  --primary-color: #0d0d0d;

  --logo-width: #{fluid(100px, 149px)};

  --font-size-nav: #{fluid(20px, 28px)};
  --font-size-text: #{fluid(22px, 34px)};
  --font-size-h1: #{fluid(80px, 170px)};
  --font-size-h2: #{fluid(40px, 90px)};
  --font-size-skills-and-tools: #{fluid(20px, 24px)};
  --font-size-skill-tag: #{fluid(16px, 18px)};
  --font-size-visit-live-site: #{fluid(16px, 18px)};

  --font-weight-text: 440;
  --font-weight-project-description: 350;
  --font-weight-h1: 370;
  --font-weight-h2: 500;
  --font-weight-h3: 500;

  --flex-gap-nav: #{fluid(30px, 70px)};

  --single-project-text-width: #{fluid(600px, 900px)};
  --single-project-skills-tag-padding1: #{fluid(5px, 15px)};
  --single-project-skills-tag-padding2: #{fluid(10px, 25px)};
}

// General styles for the website
body {
  font-family: 'Inter', sans-serif;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1,
h2 {
  margin: 0;
}

h1 {
  max-width: 700px;
  margin: 0 0 80px -9px;

  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  line-height: 90%;
}

h2 {
  margin: 0 0 20px;

  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  line-height: 100%;
}

h3,
p {
  margin: 0;
  padding: 0;

  line-height: 140%;
  font-size: var(--font-size-text);
}

h3 {
  margin: 20px 0 0;
  font-weight: var(--font-weight-h3);
}

p + p {
  margin-top: 40px;
}

figure {
  margin: 0;
  padding: 0;
}

img,
video {
  display: block;
  width: 100%;
  max-width: 100%;
}

.transition-in {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
}

.transition-in-opacity {
  opacity: 0;
}

.transition-visible {
  opacity: 1; /* Fully visible */
  transform: translate3d(0, 0, 0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.transition-visible-delayed {
  opacity: 1; /* Fully visible */
  transform: translate3d(0, 0, 0);
  transition: opacity 0.5s ease-out 0.25s, transform 0.5s ease-out 0.25s;
}

.transition-visible-delayed-more {
  opacity: 1; /* Fully visible */
  transform: translate3d(0, 0, 0);
  transition: opacity 0.5s ease-out 0.4s, transform 0.5s ease-out 0.4s;
}

// The logo + navigation
header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  max-width: 1700px;
  margin: 20px auto 0;

  img {
    max-width: var(--logo-width);
  }

  nav {
    font-weight: var(--font-weight-text);

    ul {
      display: flex;
      gap: var(--flex-gap-nav);

      margin: 0;

      list-style: none;
      font-size: var(--font-size-nav);
    }
  }
}

// General styles for the content
#content {
  display: flex;
  flex-direction: column;

  max-width: 1700px;
  margin: 70px auto 0;
  padding: 0 0 100px;
}

// Homepage
.homepage {
  .fade-in {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }

  .fade-in-deferred {
    opacity: 0;
    transform: translate3d(0, 5px, 0) scale(1.03);
  }

  .visible {
    opacity: 1; /* Fully visible */
    transform: translate3d(0, 0, 0);
    transition: opacity 1s ease-out 0.2s, transform 1s ease-out 0.2s;
  }

  .visible-deferred {
    opacity: 1; /* Fully visible */
    transform: translate3d(0, 0, 0) scale(1);
    transition: opacity 1s ease-out 0.2s, transform 1s ease-out 0.2s;
  }
}

// Project overview
.projects-overview {
  display: flex;
  flex-direction: column;
  gap: 100px;

  margin: 0;

  article {
    p {
      max-width: 864px;
      font-weight: var(--font-weight-project-description);
    }
  }
}

// Single project page
.single-project {
  .project-title-and-link {
    display: flex;
    align-items: baseline;
    gap: 30px;

    a {
      display: flex;
      gap: 8px;
      font-size: var(--font-size-visit-live-site);
    }

    img {
      max-width: 18px;
    }
  }
  .skills-and-tools {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    margin: 0 0 25px;
    padding: 10px 0;
    border-top: 2px solid var(--primary-color);

    ul {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      align-items: center;

      padding: 0;
      list-style: none;

      span {
        margin-right: 5px;
        font-size: var(--font-size-skills-and-tools);
        font-weight: var(--font-weight-text);
      }

      .skill-tag {
        padding: var(--single-project-skills-tag-padding1) var(--single-project-skills-tag-padding2);

        font-size: var(--font-size-skill-tag);
        font-weight: 400;

        border: 2px solid var(--primary-color);
        border-radius: 50px;
      }
    }
  }

  .text {
    padding: 100px 0;

    p {
      max-width: var(--single-project-text-width);
    }
  }

  .media-elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

// Profile page
.profile-page {
  .text {
    p {
      max-width: var(--single-project-text-width);
    }

    &:first-of-type {
      margin: 0 0 100px;
    }
  }
  .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;

    p {
      font-weight: var(--font-weight-project-description);
    }
  }
}
