@use 'sass:math';

/* FONT FACE
=============================================================================================== */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900; // Supports a range from Thin (100) to Black (900)
  font-display: swap; // Optional for better performance
  src: url('../fonts/Inter-VariableFont_slnt,wght.woff2') format('truetype-variations');
}

/* BREAKPOINTS
=============================================================================================== */
@mixin breakpoint-lg {
  @media (max-width: 1424px) {
    @content;
  }
}

@mixin breakpoint-MIN-lg {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin breakpoint-md {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin breakpoint-MIN-md {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin breakpoint-sm {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin breakpoint-MIN-sm {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin breakpoint-xs {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin breakpoint-MIN-xs {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin breakpoint-xs-half {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin breakpoint-MIN-xs-half {
  @media (min-width: 421px) {
    @content;
  }
}

@mixin breakpoint-xxs {
  @media (max-width: 420px) {
    @content;
  }
}

@mixin breakpoint-xxs-half {
  @media (max-width: 376px) {
    @content;
  }
}

/* FONT SIZE CALCULATIONS WITH CLAMP()
=============================================================================================== */
$default-min-bp: 420px;
$default-max-bp: 1900px;

@function round($number, $decimals: 0) {
  $n: 1;
  @if $decimals > 0 {
    @for $i from 1 through $decimals {
      $n: $n * 10;
    }
  }
  @return math.div(math.round($number * $n), $n);
}

@function px-to-rem($px) {
  $rems: math.div($px, 16px) * 1rem;
  @return $rems;
}

@function fluid(
  $min-size,
  $max-size,
  $min-breakpoint: $default-min-bp,
  $max-breakpoint: $default-max-bp,
  $unit: vw
) {
  $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
  $slope-to-unit: round($slope * 100, 2);
  $intercept-rem: round(px-to-rem($min-size - $slope * $min-breakpoint), 2);
  $min-size-rem: round(px-to-rem($min-size), 2);
  $max-size-rem: round(px-to-rem($max-size), 2);
  @return clamp(#{$min-size-rem}, #{$slope-to-unit}#{$unit} + #{$intercept-rem}, #{$max-size-rem});
}

/* CUSTOM PROPERTIES
=============================================================================================== */
:root {
  --primary-color: #0d0d0d;
  --color-white: #ffffff;
  --color-green: #22b06c;
  --color-grey: #a5a5a5;

  --logo-width: #{fluid(100px, 149px)};

  @include breakpoint-xxs() {
    --logo-width: 30px;
  }

  --font-size-nav: #{fluid(20px, 28px)};
  --font-size-text: #{fluid(22px, 34px)};

  @include breakpoint-xxs() {
    --font-size-nav: 18px;
    --font-size-text: 20px;
  }

  --font-size-h1: #{fluid(80px, 170px)};
  --font-size-h2: #{fluid(40px, 90px)};
  --font-size-skills-and-tools: #{fluid(20px, 24px)};
  --font-size-skill-tag: #{fluid(16px, 18px)};
  --font-size-visit-live-site: #{fluid(16px, 18px)};
  --font-size-version: #{fluid(14px, 20px)};

  @include breakpoint-xxs() {
    --font-size-h1: 60px;
    --font-size-h2: 30px;
    --font-size-skills-and-tools: 15px;
    --font-size-skill-tag: 14px;
    --font-size-visit-live-site: 14px;
  }

  --font-weight-regular: 400;
  --font-weight-thin: 300;
  --font-weight-medium: 510;
  --font-weight-semibold: 550;

  --flex-gap-nav: #{fluid(7px, 50px)};

  --homepage-description-text-width: #{fluid(600px, 890px)};

  --160px-to-80px: #{fluid(80px, 160px)};
  --120px-to-60px: #{fluid(60px, 120px)};
  --80px-to-40px: #{fluid(40px, 80px)};
  --70px-to-35px: #{fluid(35px, 70px)};
  --65px-to-45px: #{fluid(45px, 65px)};
  --20px-to-12px: #{fluid(12px, 20px)};
  --15px-to-10px: #{fluid(10px, 15px)};

  --profile-skill-list-text-width: #{fluid(500px, 600px)};

  --single-project-text-width: #{fluid(460px, 800px)};
  --single-project-skills-tag-padding1: #{fluid(5px, 15px)};
  --single-project-skills-tag-padding2: #{fluid(10px, 25px)};

  @include breakpoint-xxs() {
    --single-project-skills-tag-padding1: 3px;
    --single-project-skills-tag-padding2: 6px;
  }
}

/* GENERAL STYLES
=============================================================================================== */
body {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.3px;
  margin: 0;
  padding: 0 28px;

  @include breakpoint-xs() {
    padding: 0 20px;
  }
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1,
h2 {
  margin: 0;
}

h1 {
  max-width: 700px;
  margin: 0 0 var(--70px-to-35px) -10px;

  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-regular);
  line-height: 90%;

  @include breakpoint-xxs() {
    margin: 0 0 30px -5px;
  }
}

h2 {
  margin: 0 0 20px -2px;

  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-medium);
  line-height: 100%;
}

h3,
p {
  margin: 0;
  padding: 0;

  line-height: 140%;
  font-size: var(--font-size-text);
}

h3 {
  margin: 20px 0 0;
  font-weight: var(--font-weight-medium);
}

p + p {
  margin-top: 40px;
}

figure {
  margin: 0;
  padding: 0;
}

img,
video {
  display: block;
  width: 100%;
  max-width: 100%;
}

.hidden-xxs-half {
  @include breakpoint-xxs-half() {
    display: none;
  }
}
.visible-xxs-half {
  display: none;
  @include breakpoint-xxs-half() {
    display: block;
  }
}

/* TRANSITIONS
=============================================================================================== */
// Initial state of site title before transition
.transition-in {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
}

// Initial state of skills-and-tools div before transition
.transition-in-opacity {
  opacity: 0;
}

// Transition of site title
.transition-visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.5s ease-out 0.05s, transform 0.5s ease-out 0.05s;
}

// Transition of skills list on project pages
.transition-visible-delayed {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.5s ease-out 0.25s, transform 0.5s ease-out 0.25s;
}

// Transition of first media element on project pages
.transition-visible-delayed-more {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.5s ease-out 0.45s, transform 0.5s ease-out 0.45s;
}

/* LOGO + NAVIGATION
=============================================================================================== */
header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  max-width: 1700px;
  margin: 20px auto 0;

  img {
    max-width: var(--logo-width);
    min-width: 80px;

    @include breakpoint-xxs-half() {
      min-width: 31px;
    }
  }

  nav {
    font-weight: var(--font-weight-regular);

    ul {
      display: flex;
      gap: var(--flex-gap-nav);

      margin: 0 0 -5px;
      padding: 0 0 0 30px;

      list-style: none;
      font-size: var(--font-size-nav);

      @include breakpoint-xxs() {
        margin: 0 0 -2px;
        padding: 0 0 0 10px;
      }

      li a {
        padding: 8px 15px;
        border-radius: 8px;

        @include breakpoint-xxs() {
          padding: 4px 7px;
        }

        &:active {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}

/* GENERAL STYLES FOR #CONTENT
=============================================================================================== */
#content {
  display: flex;
  flex-direction: column;

  max-width: 1700px;
  margin: var(--80px-to-40px) auto 0;
  padding: 0;

  .homepage,
  .profile-page {
    padding: 0 0 var(--160px-to-80px);
  }
}
