@use 'breakpoints';
@use 'general-styles';

/* PROFILE PAGE
=============================================================================================== */
.profile-page {
  .two-column {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;

    @include breakpoints.breakpoint-xs {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    p {
      max-width: var(--profile-skill-list-text-width);
      font-weight: var(--font-weight-thin);
    }

    img {
      max-width: 440px;
    }
  }

  .profile-description {
    grid-template-columns: 2fr 1fr;
    gap: var(--40px-to-25px);
    margin: 0 0 var(--120px-to-60px);

    @include breakpoints.breakpoint-sm {
      grid-template-columns: 1fr;
    }

    .text p {
      font-weight: var(--font-weight-thin);
      max-width: var(--homepage-description-text-width);
    }

    img {
      margin-top: 10px;

      @include breakpoints.breakpoint-sm {
        max-width: 370px;
        margin-top: 30px;
      }
    }
  }
}
