@use 'breakpoints';
@use 'general-styles';

/* Homepage
=============================================================================================== */
.homepage {
  .description {
    margin: 0 0 var(--70px-to-35px);

    p {
      max-width: var(--homepage-description-text-width);
      font-weight: var(--font-weight-thin);
    }
  }
}

// Project overview
.projects-overview {
  display: flex;
  flex-direction: column;
  gap: var(--120px-to-60px);

  margin: 0;

  article {
    .project-link {
      display: inline-block;
      vertical-align: top;

      &.figure-wrapper {
        width: 100%;
        height: auto;
        aspect-ratio: 1700 / 621;
      }
    }

    p {
      max-width: var(--homepage-project-description-text-width);
      font-weight: var(--font-weight-thin);
    }
    figure {
      @include breakpoints.breakpoint-sm {
        margin: 0 -28px;
      }
      @include breakpoints.breakpoint-xs {
        margin: 0 -15px;
      }

      img {
        aspect-ratio: 1700 / 621;
      }
    }
  }
}
